*, *::before, *::after {
  margin: 0;
  padding: 0;}

.avatars{
  width: 316px; 
  height: 148px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} 

img{
  width: 64px;
  height: 64px;
  border-radius: 50%;}

.item {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  float: left;
  position: relative;
}

.item:nth-child(n+2){
  margin-left: 20px;
}

.group {
  display:flow-root;}

.group2{
  margin-top: 20px;
}

.icon{
  border: 1px solid #DBDBDB;
  background-color:  #DBDBDB;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.on-color {
  border: 1px solid #4CFE88;
  background-color:  #4CFE88;
}

